<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>Interview's Agenda</title>
</head>
<body>
    <div class="content">
        <img src="images/bonita_vista.png">
        <div id="link"><a href="/schedule" style="color: black">Register new appointment</a></div>
        <h1>Bonita Vista Ward</h1>
        <h2>Interview's Agenda</h1>
        <div class="list">
            <div id="appointments">

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Interviewer</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Name</th>
                        <th scope="col">Reason</th>
                      </tr>
                    </thead>
                    <tbody>
                        <%interviewsList.forEach(interview => {%>
                      <tr>
                        <td><%= interview.interviewer %></td>
                        <td><%= interview.date %></td>
                        <td><%= interview.time %></td>
                        <td><%= interview.name %></td>
                        <td><%= interview.reason %></td>
                        <td>
                            <a href="/update_appt?id=<%= interview._id%>" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>
                            <a class="btn border-shadow delete" data-id=<%= interview._id%> >
                                <span class="text-gradient"><i class="fas fa-times"></i></span>
                            </a>
                        </td>
                      </tr>
                      <%})%>
                    </tbody>
                  </table>
              
            </div>
        </div>
</div>
<script src="scripts/appointments.js"></script>

</body>
</html>